/* Remove all @tailwind directives from here */

body {
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for a cleaner look but keep functionality */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #09090b; 
}
::-webkit-scrollbar-thumb {
  background: #3f3f46; 
  border-radius: 4px;
}